<div class="reviews_page_table">
	<div class="review_tile">
		<div class="review_image">
			<img class="review_image" src="{{pictureURL}}" alt="Reviewer Profile Image">
			<button class="modify_review_button" id="delete_review" style="display:none">Delete</button>
			<button class="modify_review_button" id="edit_review" style="display:none">Edit</button>
			<button class="modify_review_button" id="submit_edit_review" style="display:none">Submit Edits</button>
			<a id="review_id" style="display:none;">{{reviewId}}</a>
			<a id="review_rating" style="display:none;">{{ratingNum}}</a>
		</div>
		<div class="review_header">
			<a class="review_name">{{fName}} {{lName}}</a>
			<a class="review_rating">{{rating}}</a>
			<button id="create_review_1star" class="create_review_star_button" style="display:none;font-size:30px;"></button> 
			<button id="create_review_2star" class="create_review_star_button" style="display:none;font-size:30px;"></button> 
			<button id="create_review_3star" class="create_review_star_button" style="display:none;font-size:30px;"></button> 
			<button id="create_review_4star" class="create_review_star_button" style="display:none;font-size:30px;"></button> 
			<button id="create_review_5star" class="create_review_star_button" style="display:none;font-size:30px;"></button> 
		</div>
		<div class="review_body">
			<p id="review_text" class="normal_text">{{justification}}</p>
			<textarea class="edit_review_text" id="edit_review_text" style="display:none;">{{justification}}</textarea>
		</div>
	</div>
</div>
