<div class="reviews_page_table">
	<div class="review_tile">
		<div class="review_image">
			<img class="review_image" src="{{pictureURL}}" alt="Reviewer Profile Image">
		</div>
		<div class="review_header">
			<a class="review_name">{{fName}} {{lName}}</a>
			<a class="review_rating">{{rating}}</a>
		</div>
		<div class="review_body">
			<p class="normal_text">{{justification}}</p>
		</div>
	</div>
</div>
