<div class="reviews_page_table">
	<div class="review_tile">
		<div class="review_image">
			<img class="review_image" src="{{pictureURL}}" alt="Reviewer Profile Image">
			<button class="modify_review_button" id="delete_review" style="display:none">Delete</button>
			<button class="modify_review_button" id="edit_review" style="display:none">Edit</button>
		</div>
		<div class="review_header">
			<a class="review_name">{{fName}} {{lName}}</a>
			<a class="review_rating">{{rating}}</a>
		</div>
		<div class="review_body">
			<p class="normal_text">{{justification}}</p>
		</div>
	</div>
</div>
