<div class="professortile_container">
	<div class="professortile_image">
		<img class="professortile_image" src="{{pictureURL}}" alt="usertile_image">
	</div>
	<div class="professortile_title">
		<a class="professortile_title">{{fName}} {{lName}}</a>
	</div>
	<div class="professortile_body">
		<p class="normal_text">World: {{worldName}}<p><br>
		<p class="normal_text">{{biography}}<p>
	</div>
</div>
